@tailwind base;

@font-face {
  font-family: "Europa Grotesk";
  font-style: normal;
  font-weight: 800;
  src: url(../assets/fonts/EuropaGroteskNr2SB-ExtBdCond.otf) format("opentype");
}

@font-face {
  font-family: "Europa Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/EuropaGroteskNr2SB-BoldCond.otf) format("opentype");
}

@font-face {
  font-family: "Europa Grotesk";
  font-style: normal;
  font-weight: 600;
  src: url(../assets//fonts/EuropaGroteskNr2SB-MedCond.otf) format("opentype");
}

@font-face {
  font-family: "Europa Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/EuropaGroteskNr2SB-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Europa Grotesk";
  font-style: normal;
  font-weight: 300;
  src: url(../assets//fonts//EuropaGroteskNr2SB-Light.otf) format("opentype");
}

@tailwind components;

@tailwind utilities;

body,
html {
  @apply bg-offwhite;
  @apply font-sans;
  @apply antialiased;
}

#hero-gradient-text {
  background-image: linear-gradient(to right, #ec77ab -150%, #7873f5 100%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
